@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

.arabic-font {
  font-family: 'Amiri', serif;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f2937; /* dark mode background (e.g. gray-800) */
    --foreground: #f9fafb; /* dark mode text (e.g. gray-50) */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
